<div class="wrapper">

    <header class="main-header">
        <nav class="navbar navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand"><b>Community</b>Cloud</a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <!-- /.navbar-collapse -->
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        <!-- /.messages-menu -->

                        <!-- Notifications Menu -->

                        <!-- Tasks Menu -->

                        <!-- User Account Menu -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="../images/user-small.png" class="user-image" alt="User Image">
                                <span class="hidden-xs" id="username">{{firstName}} {{lastName}}</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="../images/user-large.png" class="img-circle" alt="User Image">
                                    <p>
                                        {{firstName}} {{lastName}}
                                        <small>Member since {{created}}</small>
                                        <span class="hidden-xs hidden" id="userID">{{id}}</span>
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                <li class="user-body">
                                    <!--
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Followers</a>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Sales</a>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Friends</a>
                                    </div>-->
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">Settings</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="users/logout" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-custom-menu -->
            </div><!-- /.container-fluid -->
        </nav>
    </header>
    <!-- Full Width Column -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Add Family or Next of Kin
            </h1>

        </section>

        <!-- Main content -->
        <section class="content">
            <!-- Info boxes -->
            <!-- /.row -->
            <form>
                <div class="row">
                    <div class="col-md-6">

                    <h3>User Details</h3>
                    <div class="form-group">
                        <label for="userFirstName">First Name</label>
                        <input type="text" class="form-control" id="userFirstName"name="firstName" placeholder="First Name" value="{{input.firstName}}">
                    </div>
                    <div class="form-group">
                        <label for="userLastName">Last Name</label>
                        <input type="text" class="form-control" id="userLastName" name="lastName" placeholder="Last Name" value="{{input.lastName}}">
                    </div>

                    <h4>Contact Details</h4>

                    <div class="form-group">
                        <label for="userHomePhone">Home Phone</label>
                        <input type="text" class="form-control" id="userHomePhone" name="homePhone" placeholder="Home Phone Number" value="{{input.homePhone}}">
                    </div>

                    <div class="form-group">
                        <label for="userMobilePhone">Mobile Phone</label>
                        <input type="text" class="form-control" id="userMobilePhone" name="mobilePhone" placeholder="Mobile Phone Number" value="{{input.mobilePhone}}">
                    </div>

                    <div class="form-group">
                        <label for="userEmail">Email address</label>
                        <input type="email" class="form-control" name="email" id="email" placeholder="Email" value="{{input.email}}">
                    </div>

                    <button type="submit" class="btn btn-default">Submit</button>

                    </div>


                </div>

            </form>


            <!-- Main row -->


        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
    <footer class="main-footer">
        <div class="container">
            <div class="pull-right hidden-xs">
                <b>Version</b> 2.3.0
            </div>
            <strong>Copyright © 2014-2015 <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong> All rights reserved.
        </div><!-- /.container -->
    </footer>
</div>