<div class="register-container full-height sm-p-t-30">
    <div class="container-sm-height full-height">
        <div class="row row-sm-height">
            <div class="col-sm-12 col-sm-height col-middle">
                <img src="../images/logo.png" alt="logo" data-src="../images/logo.png" data-src-retina="../images/logo_2x.png" width="78" height="22">
                <h3>Please Enter Your Details</h3>
                {{#if error}}
                    <div class="alert alert-danger" role="alert">{{error}}</div>
                {{/if}}
                <form id="form-register" class="p-t-15" role="form" name="create-user-form" method="post" novalidate>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group form-group-default">
                                <label>First Name</label>
                                <input type="text" class="form-control" placeholder="John" name="firstName" value="{{input.firstName}}" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-group-default">
                                <label>Last Name</label>
                                <input type="text" class="form-control" placeholder="Smith" name="lastName" value="{{input.lastName}}" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                <label>Koneqt User name</label>
                                <input type="text" class="form-control" placeholder="john (this can be changed later)" name="username" value="{{input.username}}" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                <label>Email</label>
                                <input type="email" name="email" id="email" placeholder="john@smith.com" class="form-control" required value="{{input.email}}" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                <label>Role</label>
                                <select class="full-width" data-placeholder="Client or Samaritan" data-init-plugin="select2" id="role" name="role" value="{{input.role}}" required>
                                    <option value=""></option>
                                    <option value="Client">Client</option>
                                    <option value="Samaritan">Samaritan</option>
                                </select>
                            </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                <label>Password</label>
                                <input type="password" class="form-control" placeholder="Passwords should match" name="password" value="{{input.password}}" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                <label>Password Confirmation</label>
                                <input type="password" class="form-control" placeholder="Confirm Password" name="passwordConfirmation" value="{{input.confirmPassword}}" required>
                            </div>
                        </div>
                    </div>
                    <div class="row m-t-10">
                        <div class="col-md-6">
                            <p>I agree to the <a href="#" class="text-info small">Pages Terms</a> and <a href="#" class="text-info small">Privacy</a>.</p>
                        </div>
                        <div class="col-md-6 text-right">
                            <a href="#" class="text-info small">Help? Contact Support</a>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-cons m-t-10" type="submit">Create a new account</button>
                </form>
            </div>
        </div>
    </div>
</div>
