<div class="wrapper register-container">

    <header class="main-header">

        <!-- Logo -->
        <a href="/" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini">Community Cloud</span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg">Community Cloud</span>
        </a>

        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->


        </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Community Cloud Registration

            </h1>

        </section>

        <!-- Main content -->
        <section class="content">
            {{#if error}}
                <div class="alert alert-danger" role="alert">{{error}}</div>
            {{/if}}
            <form id="form-register" class="p-t-15" role="form" name="create-user-form" method="post" novalidate>
                <div class="col-md-6">
                    <h3>Login Details</h3>

                    <div class="form-group">
                        <label for="userEmail">Email address</label>
                        <input type="email" class="form-control" name="email" id="email" placeholder="Email" value="{{input.email}}">
                    </div>

                    <div class="form-group">
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="form-group form-group-default">
                            <label>Password</label>
                            <input type="password" class="form-control" placeholder="Passwords should match" name="password" value="{{input.password}}" required>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-sm-12">
                          <div class="form-group form-group-default">
                            <label>Password Confirmation</label>
                            <input type="password" class="form-control" placeholder="Confirm Password" name="passwordConfirmation" value="{{input.confirmPassword}}" required>
                          </div>
                        </div>
                      </div>

                    </div>


                    <h3>User Details</h3>
                    <div class="form-group">
                        <label for="userFirstName">First Name</label>
                        <input type="text" class="form-control" id="userFirstName"name="firstName" placeholder="First Name" value="{{input.firstName}}" required>
                    </div>
                    <div class="form-group">
                        <label for="userLastName">Last Name</label>
                        <input type="text" class="form-control" id="userLastName" name="lastName" placeholder="Last Name" value="{{input.lastName}}" required>
                    </div>

                </div>

                <div class="col-md-6">
                    <h4>Contact Details</h4>

                    <div class="form-group">
                        <label for="userHomePhone">Home Phone</label>
                        <input type="text" class="form-control" id="userHomePhone" name="homePhone" maxlength="10" placeholder="Home Phone Number" value="{{input.homePhone}}" required>
                    </div>

                    <div class="form-group">
                        <label for="userMobilePhone">Mobile Phone</label>
                        <input type="text" class="form-control" id="userMobilePhone" name="mobilePhone" maxlength="10" placeholder="Mobile Phone Number" value="{{input.mobilePhone}}" required>
                    </div>

                    <div class="form-group">
                        <label for="userAddress">Home Address</label>
                        <input type="text" class="form-control" id="userAddress" name="address" placeholder="Number and Street" value="{{input.address}}" required>
                    </div>

                    <div class="form-group">
                        <label for="userCity">City</label>
                        <input type="text" class="form-control" id="userCity" name="city"  placeholder="City or Suburb" value="{{input.city}}" required>
                    </div>

                    <div class="form-group">
                        <label for="userPostCode">Postcode</label>
                        <input type="text" class="form-control" id="userPostCode" name="postcode" maxlength="4" placeholder="e.g. 2000" value="{{input.postcode}}" required>
                    </div>


                    <div class="form-group">
                        <label for="userState">State</label>
                        <select class="form-control" id="userState" name="state" value="{{input.state}}">
                            <option value="NSW">NSW</option>
                            <option value="ACT">ACT</option>
                            <option value="QLD">QLD</option>
                            <option value="NT">NT</option>
                            <option value="SA">SA</option>
                            <option value="WA">WA</option>
                            <option value="TAS">TAS</option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-default">Submit</button>
                </div>




            </form>
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->

    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 2.3.0
        </div>
        <strong>Copyright &copy; 2014-2015 <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong> All rights reserved.
    </footer>

    <!-- Control Sidebar -->



    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>

</div><!-- ./wrapper -->
